
@{
    ViewData["Title"] = "Exam";
}
@model ExamViewModel
@if (ViewData["notExistQuestions"] == null)
{
    @if (ViewData["trueAnswer"] == null)
    {
        <div class="card mb-3 text-center" style="width: 70%; margin-left: auto; margin-right: auto">
            <form asp-controller="Test" asp-action="Exam" method="post" id="submittedForm">
                <input type="hidden" asp-for="Question.Id" />
                <img src="@Model.Question.QuestionImage" class="card-img-top" style="width: 80%; height: 80%"><br />
                <input type="hidden" asp-for="Question.QuestionImage" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="form-group ml-5 mr-5">
                            <button type="button" id="first" class="btn btn-info btn-block">A) @Model.Question.FirstContent</button>
                            <input type="hidden" asp-for="@Model.AnswerContent" id="studentAnswer" />
                            <input type="hidden" value="@Model.Question.FirstContent" id="firstContent" />
                        </div>
                        <div class="form-group ml-5 mr-5">
                            <button type="button" id="second" class="btn btn-info btn-block">B) @Model.Question.SecondContent</button>
                            <input type="hidden" value="@Model.Question.SecondContent" id="secondContent" />
                        </div>
                        <div class="form-group ml-5 mr-5">
                            <button type="button" id="third" class="btn btn-info btn-block">C) @Model.Question.ThirdContent</button>
                            <input type="hidden" value="@Model.Question.ThirdContent" id="thirdContent" />
                        </div>
                        <div class="form-group ml-5 mr-5">
                            <button type="button" id="fourth" class="btn btn-info btn-block">D) @Model.Question.FourthContent</button>
                            <input type="hidden" value="@Model.Question.FourthContent" id="fourthContent" />
                        </div>
                    </h5><br />
                    <div class="form-group ml-5 mr-5">
                        <button type="submit" class="btn btn-success btn-block">Cevabı Onayla</button>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-8">
                <div class="card mb-3 text-center" style="width: 70%; margin-left: auto; margin-right: auto">
                    <form asp-controller="Test" asp-action="Exam" method="post" id="submittedForm">
                        <input type="hidden" asp-for="Question.Id" />
                        <img src="@Model.Question.QuestionImage" class="card-img-top"><br />
                        <input type="hidden" asp-for="Question.QuestionImage" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="form-group ml-5 mr-5">
                                    <button type="button" id="first" class="btn btn-info btn-block">A) @Model.Question.FirstContent</button>
                                    <input type="hidden" asp-for="@Model.AnswerContent" id="studentAnswer" />
                                    <input type="hidden" value="@Model.Question.FirstContent" id="firstContent" />
                                </div>
                                <div class="form-group ml-5 mr-5">
                                    <button type="button" id="second" class="btn btn-info btn-block">B) @Model.Question.SecondContent</button>
                                    <input type="hidden" value="@Model.Question.SecondContent" id="secondContent" />
                                </div>
                                <div class="form-group ml-5 mr-5">
                                    <button type="button" id="third" class="btn btn-info btn-block">C) @Model.Question.ThirdContent</button>
                                    <input type="hidden" value="@Model.Question.ThirdContent" id="thirdContent" />
                                </div>
                                <div class="form-group ml-5 mr-5">
                                    <button type="button" id="fourth" class="btn btn-info btn-block">D) @Model.Question.FourthContent</button>
                                    <input type="hidden" value="@Model.Question.FourthContent" id="fourthContent" />
                                </div>
                            </h5><br />
                            <div class="form-group ml-5 mr-5">
                                <button type="submit" class="btn btn-success btn-block">Cevabı Onayla</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-info">@ViewData["trueAnswer"]</div>
                <form>
                    <button type="submit" class="btn btn-success float-right">Diğer Soruyu Gör</button>
                </form>
            </div>
        </div>

    }
}
else
{
    <div class="alert alert-danger text-center justify-content-center">@ViewData["notExistQuestions"]</div>
}

<script>
    var tempAnswer = "";
    var studentAnswer = document.getElementById("studentAnswer");

    var btn1 = document.getElementById("first");
    var firstContent = document.getElementById("firstContent");

    var btn2 = document.getElementById("second");
    var secondContent = document.getElementById("secondContent");

    var btn3 = document.getElementById("third");
    var thirdContent = document.getElementById("thirdContent");

    var btn4 = document.getElementById("fourth");
    var fourthContent = document.getElementById("fourthContent");

    btn1.onclick = () => { tempAnswer = firstContent.value };
    btn2.onclick = () => { tempAnswer = secondContent.value };
    btn3.onclick = () => { tempAnswer = thirdContent.value };
    btn4.onclick = () => { tempAnswer = fourthContent.value };

    document.getElementById("submittedForm").onsubmit = (e) => {
        studentAnswer.value = tempAnswer;
    };
</script>
