
@{
    ViewData["Title"] = "Exam";
}
@model ExamViewModel
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#instantQuestion").text(1);
        var questionNo = 1;

        var minuteCounter = 60;
        var secondCounter = 0;
        var minute = $("#minute");
        var seconds = $("#seconds");

        minute.text(minuteCounter);
        seconds.text("0" + secondCounter);

        setInterval(function () {
            setTimeout(function () {
                if (secondCounter === 0) {
                    minuteCounter--;
                    secondCounter = 60;
                }
                secondCounter--;
                secondCounter >= 0 && secondCounter <= 9
                    ? (seconds.text("0" + secondCounter))
                    : (seconds.text(secondCounter));

                minuteCounter >= 0 && minuteCounter <= 9
                    ? (minute.text("0" + minuteCounter))
                    : (minute.text(minuteCounter));

                if (secondCounter === 0 && minuteCounter === 0) {
                    clearTimeout();
                    clearInterval();
                }
            }, 1000);
        }, 1000);

        var tempAnswer = "";
        $("#first").click(function () { tempAnswer = $("#firstContent").val() });
        $("#second").click(function () { tempAnswer = $("#secondContent").val() });
        $("#third").click(function () { tempAnswer = $("#thirdContent").val() });
        $("#fourth").click(function () { tempAnswer = $("#fourthContent").val() });

        $("#submittedForm").click(function () {
            questionNo++;

            var id = $("#questionId").text();
            $("#studentAnswer").val(tempAnswer);
            console.log(id);

            var studentAnswer = $("#studentAnswer").val();
            console.log(studentAnswer);

            var jsonData = JSON.stringify({
                AnswerContent: studentAnswer,
                QuestionId: id
            });
            console.log(jsonData);

            $.ajax({
                type: "POST",
                url: "/Test/Exam",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: jsonData,
                success: function (data) {
                    if (data == "testResult") {
                        window.location.href = "/Test/ExamResult";
                    }
                    else if (data !== "") {
                        $("#first").text("A) " + data.firstContent);
                        $("#firstContent").val(data.firstContent);

                        $("#second").text("B) " + data.secondContent);
                        $("#secondContent").val(data.secondContent);

                        $("#third").text("C) " + data.thirdContent);
                        $("#thirdContent").val(data.thirdContent);

                        $("#fourth").text("D) " + data.fourthContent);
                        $("#fourthContent").val(data.fourthContent);

                        $("#questionId").text(data.id);
                        $("#questionImg").attr("src", data.questionImage);

                        $("#instantQuestion").text(questionNo);
                    }
                    else
                        window.location.reload();
                }
            });
        });
    });
</script>
@if (ViewData["notExistQuestions"] == null)
{
    <div class="row">
        <div class="col-9">
            <div class="card mb-3 text-center" style="width: 70%; margin-left: auto; margin-right: auto">
                <p style="display: none !important" id="questionId">@Model.Question.Id</p>
                <img src="@Model.Question.QuestionImage" class="card-img-top" style="width: 80%; height: 80%" id="questionImg"><br />
                <input type="hidden" asp-for="Question.QuestionImage" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="form-group ml-5 mr-5">
                            <button type="button" id="first" class="btn btn-info btn-block">A) @Model.Question.FirstContent</button>
                            <input type="hidden" id="studentAnswer" />
                            <input type="hidden" value="@Model.Question.FirstContent" id="firstContent" />
                        </div>
                        <div class="form-group ml-5 mr-5">
                            <button type="button" id="second" class="btn btn-info btn-block">B) @Model.Question.SecondContent</button>
                            <input type="hidden" value="@Model.Question.SecondContent" id="secondContent" />
                        </div>
                        <div class="form-group ml-5 mr-5">
                            <button type="button" id="third" class="btn btn-info btn-block">C) @Model.Question.ThirdContent</button>
                            <input type="hidden" value="@Model.Question.ThirdContent" id="thirdContent" />
                        </div>
                        <div class="form-group ml-5 mr-5">
                            <button type="button" id="fourth" class="btn btn-info btn-block">D) @Model.Question.FourthContent</button>
                            <input type="hidden" value="@Model.Question.FourthContent" id="fourthContent" />
                        </div>
                    </h5><br />
                    <input type="submit" class="btn btn-success btn-block" id="submittedForm" value="Cevabı Onayla" />
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body btn btn-warning text-center" style="font-weight: bold">
                    <span id="minute"></span>:<span id="seconds"></span>
                    <hr style="width: 100% !important" />
                    <span id="instantQuestion"></span> / 50
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger text-center justify-content-center">@ViewData["notExistQuestions"]</div>
}
@ViewData["trueAnswerCount"]