
@{
    ViewData["Title"] = "Index";
}
@model StatViewModel
<style>
    .chart {
        width: 100%;
        min-height: 450px;
    }
    footer {
        border-top: 1px solid gray;
    }
    footer .container {
        color: black !important;
    }
</style>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>

<!-- Tarihe Göre Not Görüntüle -->
<div class="container">
    <div class="card" style="width: 100%">
        <div class="card-header font-weight-bold">
            Tarihe Göre Not Görüntüle <button type="button" class="btn btn-dark float-right" id="accordion">-</button>
        </div>
        <div class="collapse col-12 justify-content-center" id="collapseBody" style="display: flex">
            <div id="columnchart_values" class="col-8"></div>
            <div class="card-body col-4">
                <form asp-action="Index" asp-controller="Stats">
                    <div class="form-group">
                        <select class="form-control" asp-items="@Model.GetAllDates" id="chooseDate">
                            <option id="disabledOption">Tarih seçiniz...</option>
                        </select>
                        <br />
                        <p id="showMessage" class="text-muted">Notunuzu öğrenmek için lütfen görüntülemek istediğiniz tarihi seçin.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Kategorilere Göre Başarım Oranı -->
<div class="container">
    <div class="card" style="width: 100%">
        <div class="card-header font-weight-bold">
            Kategorilere Göre Başarım Oranı <button type="button" class="btn btn-dark float-right" id="accordion1">-</button>
        </div>
        <div class="collapse col-12 justify-content-center" id="collapseBody1" style="display: flex">
            <div id="columnchart_values2" class="col-8"></div>
            <div class="card-body col-4">
                <form asp-action="Index" asp-controller="Stats">
                    <div class="form-group">
                        <select class="form-control" asp-items="@Model.GetAllDates" id="chooseDateForCategory">
                            <option id="disabledOption2">Tarih seçiniz...</option>
                        </select>
                        <br />
                        <p id="showMessage2" class="text-muted">Notunuzu öğrenmek için lütfen görüntülemek istediğiniz tarihi seçin.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Son Üç Test Başarı Değişim Oranı -->
<div class="container">
    <div class="card" style="width: 100%">
        <div class="card-header font-weight-bold">
            Son Üç Test Başarı Değişim Oranı <button type="button" class="btn btn-dark float-right" id="accordion2">-</button>
        </div>
        <div class="collapse col-12 justify-content-center" id="collapseBody2" style="display: flex">
            <div id="chart_div" class="col-12"></div>
        </div>
    </div>
</div>

<input type="hidden" id="lastDate" value="@Model.GetLastThreeDay[0]" />
<input type="hidden" id="secondDate" value="@Model.GetLastThreeDay[1]" />
<input type="hidden" id="firstDate" value="@Model.GetLastThreeDay[2]" />
<input type="hidden" id="lastDatePoint" value="@Model.GetLastThreeDayPoint[0]" />
<input type="hidden" id="secondDatePoint" value="@Model.GetLastThreeDayPoint[1]" />
<input type="hidden" id="firstDatePoint" value="@Model.GetLastThreeDayPoint[2]" />